<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-4">
      <h2 class="text-primary p-3 pb-0 m-0" style="font-style:italic;font-weight:bold">Work Details</h2>
      <hr>
    </div>

    <div class="col-12 mb-2">
      <h5 class="text-primary" style="font-weight: bold;">Details: </h5>
      <p class="arabicFont">{{data.workDetails}}</p>
    </div>
    <div class="col-12 mb-2">
      <h5 class="text-primary" style="font-weight: bold;">Material: </h5>
      <p class="arabicFont">{{data.workMaterial}}</p>
    </div>
    <div class="col-12 mb-2">
      <h5 class="text-primary" style="font-weight: bold;">QA Instructions: </h5>
      <p class="arabicFont">{{data.qaInstructions?data.qaInstructions:'--'}}</p>
    </div>
    <div class="col-12 mb-2">
      <h5 class="text-primary" style="font-weight: bold;">HSE Instructions: </h5>
      <p class="arabicFont">{{data.hseInstructions?data.hseInstructions:'--'}}</p>
    </div>
    <div class="col-12 mb-2">
      <h5 class="text-primary" style="font-weight: bold;">Notes: </h5>
      <p class="arabicFont">{{data.notes?data.notes:'--'}}</p>
    </div>
  </div>
</div>
