.fixedCode{
    position: fixed;
    color: rgba(181, 181, 181, 0.7);
    // background-color: rgb(0,0,0,0.2);
    // opacity: 0.3;
    border-radius: 4px;
    font-weight: bold;
    font-style: italic;
    top: 50%;
    left: 46.5%;
    h4{
        font-size: 12px;
        user-select: none;
    }
}

@media print {
  .printNone{
    display: none !important;
  }
}
