
.formCont{
  background-color: white;border-radius: 10px;
  .submitBtn:hover{
  background-color: #30305e;
  color: white;
  }

}


.colorBlue{
color: blue !important;
}

.colorPurple{
color: purple !important;
}

.colorCoral
{
color:coral!important;
}

.colorPink{
color:deeppink!important;
}

td,th{
  border: 1px solid gainsboro !important;
  font-size: 11px !important;
  // width: 8rem !important;
  // justify-content: center !important;
  // text-align: center;
}








