<div class="container">
    <div class="row py-5">
        <div class="text-center col-12 py-5">
            <h2 >Not Found!</h2>
            <p class="m-0">What brought you here!</p>
            <p class="m-0">We're re-routing you to the home Page.</p>

            <div class="d-flex justify-content-center my-5">
                <div 
                style="font-size: 54px;
                width: 10rem;
                height: 10rem;
                /* background: orangered; */
                color: #1e1e77!important;"
                class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>